.header {
    width: 100%;
    background: #f3efe6;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1.5rem 2.5rem;
}

.header__center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    text-align: center;
}

.header__title {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    color: #222;
}

.header__subtitle {
    font-size: 1rem;
    color: #555;
}

.header__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;

    backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.08);

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 1rem;

    padding: 0.5rem;

    color: black;
    font-size: 0.8rem;

    cursor: pointer;
    transition: 0.3s;
}

.header__menu img {
    object-fit: contain;
}
